In [7]:
import pandas as pd
import re

# Load data_set:
df = pd.read_csv(r'C:\Users\ADMIN\Desktop\python\project\data\movie_dataset.csv', encoding='UTF-8', engine='python')

# Create df_cast dataframe

df_cast = df[['id', 'cast']]
df_cast['cast'] = df['cast'].apply(lambda x: x.encode().decode("unicode-escape") if type(x) != float else x)
df_cast.dropna(inplace=True)

<ipython-input-7-d478e313a375>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cast['cast'] = df['cast'].apply(lambda x: x.encode().decode("unicode-escape") if type(x) != float else x)
<ipython-input-7-d478e313a375>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cast.dropna(inplace=True)

In [8]:
f = open("actor_list.txt", "r", encoding="utf-8")
actor_list = f.read().split(',')

In [9]:
actor_list = list(map(lambda x: x.strip(), actor_list))
actor_list = sorted(actor_list, key=len, reverse=True)

In [10]:
# Obtain list of actors that are available in actor_list
cast_parsed_list = []
for i in df_cast['cast']:
    actor = []
    for j in actor_list:
        if j in i:
            actor.append(j)
            i = i.replace(j, '')

    cast_parsed_list.append(actor)
df_cast['cast_parsed'] = cast_parsed_list

# Define functions to get the remainder
def remove_string(string, string_list):
    for i in string_list:
        string = string.replace(i, '')

    return string.strip()

df_cast['remainder'] = df_cast[['cast', 'cast_parsed']].apply(lambda x: remove_string(x['cast'], x['cast_parsed']), axis=1)

<ipython-input-10-de67a10a1c90>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cast['cast_parsed'] = cast_parsed_list
<ipython-input-10-de67a10a1c90>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cast['remainder'] = df_cast[['cast', 'cast_parsed']].apply(lambda x: remove_string(x['cast'], x['cast_parsed']), axis=1)

In [12]:
# Get the records which still need correcting
df_cast_rem = df_cast[df_cast['remainder'] != '']

# One
three = df_cast_rem[df_cast_rem['remainder'].apply(lambda x: len(x.split(' '))) == 3]
three

,id,cast,cast_parsed,remainder
7,99861,Robert Downey Jr. Chris Hemsworth Mark Ruffalo...,"[Scarlett Johansson, Chris Hemsworth, Mark Ruf...",Robert Downey Jr.
16,24428,Robert Downey Jr. Chris Evans Mark Ruffalo Chr...,"[Scarlett Johansson, Chris Hemsworth, Mark Ruf...",Robert Downey Jr.
26,271110,Chris Evans Robert Downey Jr. Scarlett Johanss...,"[Scarlett Johansson, Sebastian Stan, Anthony M...",Robert Downey Jr.
31,68721,Robert Downey Jr. Gwyneth Paltrow Don Cheadle ...,"[Gwyneth Paltrow, Rebecca Hall, Don Cheadle, G...",Robert Downey Jr.
62,258489,Alexander Skarsgård Margot Robbie Christoph Wa...,"[Alexander Skarsgård, Christoph Waltz, Djimon ...",Samuel L. Jackson
...,...,...,...,...
4342,347126,Hayley Orrantia Melissa Joan Hart Jesse Metcal...,"[Melissa Joan Hart, Hayley Orrantia, Jesse Met...",David A.R. White
4426,248402,Luke Perry Anna Claire Sneed Leonor Varela,"[Leonor Varela, Luke Perry]",Anna Claire Sneed
4439,157354,Michael B. Jordan Octavia Spencer Melonie Diaz...,"[Octavia Spencer, Ahna O'Reilly, Kevin Durand,...",Michael B. Jordan
4467,838,Richard Dreyfuss Ron Howard Paul Le Mat Charle...,"[Charles Martin Smith, Richard Dreyfuss, Cindy...",Paul Le Mat
4606,21525,Tupac Amaru Shakur,[],Tupac Amaru Shakur

In [14]:
three_unique = three.remainder.unique().tolist()
actor_list = actor_list + three_unique
len(actor_list)

10695

In [ ]:
import csv
with open('actor_list.txt', 'w', encoding="utf-8") as f:
    write = csv.writer(f)
    
    write.writerow(actor_list)